#ribbon{
  display: flex;
  justify-content: space-around;
  position: static;
  /*width: 100%;*/
  /*padding-top: 10px;*/
  /*height: 60px;*/
  background-color: lightgray;
}
#ribbon input[type="date"]{
  flex: 1 1 25%;
  /*padding-left: 10px;*/
}
#ribbon select{
  flex: 1 1 25%;
  /*display: inline-block;*/
}
#ribbon #searchFilter{
  flex: 1 1 25%;
  color: black;
}
.form-control{
  flex: 1 1 25%;
  /*display: inline-block !important;*/
}
