#ribbon{
  position: static;
  width: 100%;
  padding-top: 10px;
  height: 60px;
  background-color: lightgray;
}
#ribbon input[type="date"]{
  padding-left: 10px;
}
#ribbon select{
  display: inline-block;
}
#ribbon #searchFilter{
  color: black;
}
.form-control{
  display: inline-block !important;
}
